.carousel-text {
  background: rgba(0, 0, 0, 0.7);
  padding: 2rem;
  border-radius: 10px;
}

.carousel-text h1 {
  font-size: 3rem;
}

.home {
  height: 10vh !important;
}

.c-img {
  height: 80vh;
  width: 100%;
}

/* media-query */
@media screen and (max-width: 600px) {
  .carousel-text {
    padding: 1rem;
  }
  .carousel-text h1 {
    font-size: 1.5rem;
  }
}
