.dashboard-layout {
  display: flex;
}

.dashboard-main {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

@media screen and (max-width: 600px) {
  .dashboard-main {
    margin-left: 60px;
    min-height: 100vh;
  }
}
